/* General font settings */
h3 {
    font-family: Helvetica, Arial;
    font-size: 14px;
}

/* Example layout adapted from http://www.w3schools.com/html/html_layout.asp.
   Note use of floats probably isn't appropriate - fixed width might be better
   or a fixed-width navigation bar and a map that fills the remaining width/height */
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#datasets {
    /*line-height:30px;*/
    padding:10px;
    background-color:#eeeeee;
    height:600px;
    width:400px;
    float:left;
}
#annotations {
    width:400px; /* Fits on iPad! */
    height:600px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
/* This shows info from hover-overs. It is positioned relative to the map (parent div) */
#info {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #eeeeee;
    z-index: 2000; /* Ensures it is in front of the map */
    padding: 10px;
}

/* Styles for the selectors.
   See https://github.com/CartoDB/cartodb.js/blob/develop/examples/vorticity_selector.html */
.selector ul {
    padding: 0; margin: 0;
    list-style-type: none;
}
.selector li {
    border-bottom: 1px solid #999;
    padding: 2px 10px;
    font-family: Helvetica, Arial;
    font-size: 13px;
    color: #444;
    cursor: auto;
}
.selector li:hover {
    background-color: white;
    cursor: pointer;
}
.selector li.selected {
    background-color: #cccccc;
}

/* Override transformation of legend text to uppercase */
div.cartodb-legend.custom ul li {
    text-transform: lowercase;
}