<html ng-app="enviroHack2015">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="envhack.css" />
    <title>EnviroHack 2015</title>
  </head>
  <body ng-controller="MainCtrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">DAnnoTAte</a>
        </div>
        <form class="navbar-form navbar-left" role="search" ng-submit="search()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Query">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="col-sm-5">
        <div class="list-group">
          <a class="list-group-item" ng-repeat="dataset in datasets" ng-click="showData(dataset)">{{dataset.title}} <span class="badge">{{dataset.impactFactor}}</span></a>
        </div>
      </div>
      <div class="col-sm-7">
        <div id="annotations" ng-if="dataset">
          <p>Dataset: {{dataset.uri}}</p>
          <h2>Dataset description:</h2>
          <p>{{dataset.abstract}}</p>
          <h2>Annotations for {{dataset.title}}:</h2>
          <h3>Publications</h3>
            <div class="panel panel-default" ng-repeat="publication in publications">
              <div class="panel-heading">
                <h3 class="panel-title">{{publication.title}}</h3>
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <strong>Authors:</strong>
                  <span ng-repeat="author in publication.author">{{author.given}} {{author.family}}, </span>
                </li>
                <li class="list-group-item"><strong>Comment:</strong> {{publication.comment}}</li>
              </ul>
            </div>
          <h3>Related datasets</h3>
          <h3>What the users say</h3>
        </div>
        <div id="visualization"></div>
      </div>
    </div>
    <footer>
      Developed at EnviroHack 2015 | Powered by CHARMe
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" type="text/javascript"></script>
    <script src="envhack.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <!--<script type="text/javascript" src="http://www.redotheweb.com/CodeFlower/javascripts/CodeFlower.js"></script>-->
    <script type="text/javascript" src="./visual/javascripts/CodeFlower.js"></script>
    <script type="text/javascript" src="http://www.redotheweb.com/CodeFlower/javascripts/dataConverter.js"></script>
  </body>
</html>
